@charset "UTF-8";
body{
	text-align: center;
}

/*header関連*/
header{
	height: 60px;
	line-height: 60px;
	width: 100%;
	background-color: #89c3eb;
}

.header_wrap{
	max-width: 1080px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header_ul{
 display: flex;
}

.header_li{
	margin-right: 20px;
}
/*header関連ここまで*/

.ttl{
	font-size: 20px;
	font-weight: bold;
	padding: 15px;
}

.manager_menu{
	text-align:center;
	padding-bottom: 20px;
	margin: 0 auto;
}