<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>在庫管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>在庫管理画面</h1>

<form action="#" th:action="@{/MarketingManagement}" method="post">
     <input type="submit" value="入荷管理">
   </form>

   <form action="#" th:action="@{/InventoryManagement}" method="post">
     <input type="submit" value="出荷管理">
   </form>

   <form action="#" th:action="@{/PurchaseManagement}" method="post">
     <input type="submit" value="在庫調整/棚卸">
   </form>


<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>

</body>
</html>