<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>メニュー</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>管理者メニュー</h1>
   <p th:text=" ${message}" />

   <form action="#" th:action="@{/MarketingManagement}" method="post">
     <input type="submit" value="販売管理">
   </form>

   <form action="#" th:action="@{/InventoryManagement}" method="post">
     <input type="submit" value="在庫管理">
   </form>

   <form action="#" th:action="@{/PurchaseManagement}" method="post">
     <input type="submit" value="購買管理">
   </form>

<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>

</body>
</html>