<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>購買管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>購買管理画面</h1>

<form action="#" th:action="@{/MarketingManagement}" method="post">
     <input type="submit" value="発注管理">
   </form>

   <form action="#" th:action="@{/InventoryManagement}" method="post">
     <input type="submit" value="仕入れ管理">
   </form>


<form action="#" th:action="@{/logout}" method="post">
    <input type="submit" value="logout">
</form>

</body>
</html>