<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>仕入れ管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <link rel="stylesheet" th:href="@{/css/reset.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/System.css}" type="text/css">
</head>
<body>

<header class="header">

       <div class="header_wrap">
       	<h1 class="header_ttl">仕入れ管理画面</h1>

		<nav  class="header_nav">
			<ul  class="header_ul">
				<li  class="header_li">
					<form class="manager_menu"action="#" th:action="@{/BackManager}" method="post">
				     	<input type="submit" value="管理者メニューへ">
				   </form>
				</li>

				<li  class="header_li">
					<form action="#" th:action="@{/logout}" method="post">
					    <input type="submit" value="ログアウト">
					</form>
				</li>
			</ul>
	      </nav>
	</div>
</header>

<form method="POST" action="VenderSearch" >
	商品名<input type="text" name="item_name" th:value="${item_name}" required>
	<input type="submit" value="検索">
	</form>

	<form method="POST" action="VenderOrderDateUpdate">
	商品番号<input type="text" name="date_update" size=5 required>
	<input type="submit" value="仕入日更新">
	<input type="hidden" name="item_name" th:value="${item_name}" />
	</form>

	<br>
	<div th:if="${resultText} != null">
		<h3 th:text="${resultText}"></h3>
  	</div>

	<table>
		<tr>
			<th>No</th><th>商品名</th><th>商品番号</th><th>個数</th><th>金額</th><th>発注日</th><th>仕入れ予定日</th>
		</tr>
		<tr th:each="list : ${venderOrderList}">

			<td th:text="${list.vender_order_no}"></td>
			<td th:text="${list.item_name}"></td>
			<td th:text="${list.item_product_no}"></td>
			<td th:text="${list.item_buy_count}"></td>
			<td th:text="${list.total_price}"></td>
			<td th:text="${list.item_buy_date}"></td>
			<td th:text="${list.arrival_due_date}"></td>

		</tr>
	</table>
</body>
</html>